{% extends 'MyDataLabFrontendBundle::base.html.twig' %}
{% block slider %}{% endblock %}
{% block content %}{% endblock %}
{% block headerAdditionalSections %}
    <section class="text-center">
        <div class="jumbotron text-center offset-large">
            <h1><small>GET IN TOUCH</small>Let's Create Something Together!</h1>
            {% for message in messages %}
                <h4 class="alert alert-success">{{ message }}</h4>
            {% endfor %}
        </div>
    </section>
    <section class="well well-sm">
        <div class="container">
            <div class="row flow-offset-1">
                <div class="col-md-8 btn-shadow inset-sm-min img-rounded bg-white">
                    <h5 class="text-center">GET IN TOUCH</h5>
                    {{ form_start(sendMessageForm, {'attr': {'class': 'row label-insets rd-mailform'}}) }}
                        <div class="form-group col-sm-6 mfInput">
                            {{ form_label(sendMessageForm.firstName, {}, {'label_attr': {'class': 'text-uppercase font-secondary form-label rd-input-label'}}) }}
                            {{ form_widget(sendMessageForm.firstName, {'attr': { 'placeholder': 'Your First Name'}}) }}
                            {{ form_errors(sendMessageForm.firstName) }}
                        </div>
                        <div class="form-group col-sm-6 mfInput">
                            {{ form_label(sendMessageForm.lastName, {}, {'label_attr': {'class': 'text-uppercase font-secondary'}}) }}
                            {{ form_widget(sendMessageForm.lastName, {'attr': { 'placeholder': 'Your Last Name'}}) }}
                            {{ form_errors(sendMessageForm.lastName) }}
                        </div>
                        <div class="form-group col-sm-12 mfInput">
                            {{ form_label(sendMessageForm.content, {}, {'label_attr': {'class': 'text-uppercase font-secondary'}}) }}
                            {{ form_widget(sendMessageForm.content, {'attr': { 'placeholder': 'Write your message here'}}) }}
                            {{ form_errors(sendMessageForm.content) }}
                        </div>
                        <div class="form-group col-sm-6 mfInput">
                            {{ form_label(sendMessageForm.email, {}, {'label_attr': {'class': 'text-uppercase font-secondary'}}) }}
                            {{ form_widget(sendMessageForm.email, {'attr': { 'placeholder': 'E-mail'}}) }}
                            {{ form_errors(sendMessageForm.email) }}
                        </div>
                        <div class="col-sm-6">
                            {{ form_widget(sendMessageForm.submit, {'attr': {'class': 'btn btn-primary btn-xs round-xl btn-block form-el-offset-1'}}) }}
                        </div>
                    {{ form_end(sendMessageForm) }}
                </div>
                <div class="col-md-4 text-center text-md-left">
                    <address class="contact-block inset-sm-min-2 img-rounded bg-white btn-shadow">
                        <dl>
                            <dt class="h6">ADDRESS</dt>
                            <dd>123, New Lenox, Chicago, IL 60606</dd>
                            <dt class="h6">WE ARE OPEN</dt>
                            <dd>Open hours: 8.00-18.00 Mon-Sat</dd>
                            <dt class="h6">PHONE</dt>
                            <dd><a href="callto:#">123-456-7890, &nbsp;</a><a href="callto:#">098-765-4321</a></dd>
                            <dt class="h6">E-MAIL</dt>
                            <dd><a href="mailto:#">info@example.com</a></dd>
                        </dl>
                        <ul class="list-inline list-inline-3">
                            <li><a href="#" class="fa-facebook-square"></a></li>
                            <li><a href="#" class="fa-twitter-square"></a></li>
                            <li><a href="#" class="fa-google-plus-square"></a></li>
                        </ul>
                    </address>
                </div>
            </div>
        </div>
    </section>
{% endblock %}